@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-[color:var(--border)];
  }

  body {
    @apply bg-background text-foreground;
  }
}

.print-force-new-page {
  page-break-before: always;
}

.contact-buttons-container {
  display: none;
}

@media (min-width: 768px) {
  .contact-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: max(1rem, calc((100vw - 48rem) / 2 - 4rem));
    transition: right 0.3s ease-in-out;
  }
}

@keyframes pulse-and-translate {

  0%,
  100% {
    transform: translateX(-10%) scale(1);
  }

  50% {
    transform: translateX(-13%) scale(1.07);
  }
}

.contact-button {
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
  isolation: isolate;
}

.contact-button:hover {
  animation: pulse-and-translate 1s infinite;
  background-color: #FFF65B;
  transition: background .3s 0.1s;
}

.contact-button:before,
.contact-button:after {
  --z: 0px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0;
  mix-blend-mode: color-dodge;
  border-radius: inherit;
  transform-style: preserve-3d;
  transform: translate3d(calc(var(--z) * 0px),
      calc(var(--z) * 0px),
      calc(var(--z) * 0px));
}

.contact-button:after {
  background-color: #5D00FF;
}

.contact-button:before {
  background-color: #FF1731;
}

.contact-button:hover:before {
  --z: 0.04;
  animation: translateWobble 2.2s ease forwards;
}

.contact-button:hover:after {
  --z: -0..06;
  animation: translateWobble 2.2s ease forwards;
}

@keyframes translateWobble {
  0% {
    opacity: 0;
    transform: translate3d(calc(var(--z) * 0px),
        calc(var(--z) * 0px),
        calc(var(--z) * 0px));
  }

  16% {
    transform: translate3d(calc(var(--z) * 160px),
        calc(var(--z) * 160px),
        calc(var(--z) * 160px));
  }

  28% {
    opacity: 1;
    transform: translate3d(calc(var(--z) * 70px),
        calc(var(--z) * 70px),
        calc(var(--z) * 70px));
  }

  44% {
    transform: translate3d(calc(var(--z) * 130px),
        calc(var(--z) * 130px),
        calc(var(--z) * 130px));
  }

  59% {
    transform: translate3d(calc(var(--z) * 85px),
        calc(var(--z) * 85px),
        calc(var(--z) * 85px));
  }

  73% {
    transform: translate3d(calc(var(--z) * 110px),
        calc(var(--z) * 110px),
        calc(var(--z) * 110px));
  }

  88% {
    opacity: 1;
    transform: translate3d(calc(var(--z) * 90px),
        calc(var(--z) * 90px),
        calc(var(--z) * 90px));
  }

  100% {
    opacity: 1;
    transform: translate3d(calc(var(--z) * 100px),
        calc(var(--z) * 100px),
        calc(var(--z) * 100px));
  }
}

/* .skill-badge:hover {
  background-image: linear-gradient(33deg, #fb2c36, #f54900, #ff8904, #ffb900, #ffdf20, #497d00, #9ae600, #00a63e, #002c22, #009966, #005f78, #1c398e, #00a6f4, #312c85, #4d179a, #9810fa, #e12afb, #e60076, #861043, #ec003f, #fb2c36);
  background-size: 2000% 100%;
  animation: gradient-scroll 10s linear infinite;
}

@keyframes gradient-scroll {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}
*/

.normal-blend-mode {
  mix-blend-mode: normal;
}

/* Add this to a global CSS file, e.g., `globals.css` or a dedicated component CSS file */
.smart-segment::after {
  content: ' | ';

  /* Use a media query to hide the divider when the line breaks */
  @media (max-width: <your-breakpoint>) {
    /* Hide the divider by setting its display to none */
    display: none;
  }
}

.smart-segment:last-child::after {
  /* No divider for the last segment */
  content: '';
}